<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.didi.mapper.MapMapper">
	<select id="getshareList" resultType="java.util.Map">
		SELECT
		s.id AS shareId,
		u.sex AS sex,
		s.longitude AS longitude,
		s.latitude AS latitude,
		u.id as shareUserId
		FROM e_user u

		LEFT JOIN e_share s ON s.user_id=u.id WHERE s.longitude IS NOT NULL
		and DATE_FORMAT("2017-11-1 00:00:00","%Y-%m-%d") &lt;
		DATE_FORMAT(share_date,"%Y-%m-%d")
		ORDER BY s.share_date DESC ;
	</select>

	<select id="getStationList" resultType="java.util.Map">

		SELECT * FROM e_station;

	</select>

</mapper>